# =========================================================================
# 1. KUNCI UTAMA UNTUK SANTRI AI (Koneksi Langsung ke Google AI Studio)
# =========================================================================
GEMINI_API_KEY=AQ.Ab8RN6LC-U4nj5xGMpQ9rXY-At-Imlhw5UVvLaQM270yREaHBw

# =========================================================================
# 2. PORT UNTUK SERVER BACKEND EXPRESS
# =========================================================================
PORT=3000
APP_URL=http://localhost:3000

# =========================================================================
# 3. KREDENSIAL RESMI DATABASE FIREBASE MUARA
# =========================================================================
VITE_FIREBASE_API_KEY=AIzaSyC0pBfcw94weyofNOzAILMvALeA6WJ5n0w
VITE_FIREBASE_AUTH_DOMAIN=muara-a6964.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://muara-a6964-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=muara-a6964
VITE_FIREBASE_STORAGE_BUCKET=muara-a6964.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=263207684439
VITE_FIREBASE_APP_ID=1:263207684439:web:ce8f2d2ae66142e74f9612
VITE_FIREBASE_MEASUREMENT_ID=G-J4HW6F2THD

# =========================================================================
# 4. KONFIGURASI UNGGAH GAMBAR CLOUDINARY MUARA
# =========================================================================
VITE_CLOUDINARY_CLOUD_NAME=dndjgplpm
VITE_CLOUDINARY_UPLOAD_PRESET=MUARA_